.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
}
.welcomeHeader {
  font-size: 1.8rem;
}
.description {
  font-size: 1.5rem;
}
.homeButton {
  background-color: lightcoral;
  color: black;
  border: 1px gray solid;
  font-size: 1.6rem;
  padding: 5px;
}
.homeButton:hover {
  background-color: tomato;
  border: 1px red solid;
}
